html, body {
  margin: 0;
  padding: 0;
  background: #000;
}
canvas {
  display: block;
}
#defaultCanvas0{
  position: fixed;
  top: 0;
  left: 0;
}
#scrollPage{
  width: 45%;
  float: right;
  background: #000;
}
h1{
  text-align: center;
  letter-spacing: 3px;
  color: #fff;
  line-height: 10;
  font-weight: bold;
}
